{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form.name.label }}</label>
                {{ form.name() }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form.description.label }}</label>
                {{ form.description() }}
            </div>

            
            {{ form.submit(class='btn btn-primary') }}

            
        </form>
    </div>
    <div class="col-md-6">
        {% if items %}
            {% for item in items%}
            <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ item.nom}}</h5>
                    <p class="card-text">{{ item.description}}</p>
                    <a href="#" class="btn btn-primary">Check Product</a>
                </div>
                </div>
                </div>
            {% endfor %}
            
           <p>
        {% endif %}
    </div>

{% endblock %}